################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LevelManagement/.vs/LevelManagement/v16
/LevelManagement/LevelManagement.Common/obj
/LevelManagement/LevelManagement.Models/obj
/LevelManagement/LevelManagement.Web/obj
/LevelManagement/LevelManagement.Web/Properties/PublishProfiles
/LevelManagement/LevelManagement.Web/bin
/LevelManagement/LevelManagement.Web/LevelManagement.Web.csproj.user
/LevelManagement/.vs/LevelManagement/config
/LevelManagement/LevelManagement.Common/bin
/LevelManagement/LevelManagement.Common/Properties/PublishProfiles
/LevelManagement/LevelManagement.Common/LevelManagement.Common.csproj.user
/LevelManagement/LevelManagement.Model/bin/Release/netcoreapp3.1
/LevelManagement/LevelManagement.Model/obj
/LevelManagement/.vs/LevelManagement/DesignTimeBuild
/LevelManagement/LevelManagement.Model/bin/Debug/netcoreapp3.1
/LevelManagement/LevelManagement.Model/Properties/PublishProfiles
/LevelManagement/LevelManagement.Model/LevelManagement.Model.csproj.user
